<div class="authorization text-center mx-auto">

    <div class="bomb">

        <img class="img-fluid mx-auto d-block" src="/bomb.png" alt="Bomb">

    </div>

    <form id="initialForm" class="mx-auto">

        <label for="name">Укажите свое имя (от 2 до 10 символов):</label>

        <input type="text" id="name" name="name" required autocomplete="off" minlength="2" 
        maxlength="10" class="form-control mx-auto text-center" placeholder="Введите имя">

        <input type="submit" id="startBtn" value="Начать игру" class="btn mx-auto d-block">

    </form>

</div>

