<div class="game row mx-auto unseen">

    <div class="left col-md-6 text-center">

        <div class="leftWrapper">

            <div class="syllableArea row align-items-center">

                <div id="syllable" class="offset-md-1 col-md-10 mx-auto"></div>

            </div>

            <div class="timerArea row align-items-center">

                <div id="timer" class="offset-md-1 col-md-10 mx-auto">

                    <div id="progress" class="progress-bar" role="progressbar" 
                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>

                </div>

            </div>

        </div>

    </div>

    <div class="right col-md-6">

        <div class="chatArea row">

            <div class="chat">

                <div class="messagesArea">

                    <div id="messages"></div>

                </div>

                <form id="chatForm" class="input-group">

                    <div id="status"></div>

                    <input type="text" id="message" name="message" required autocomplete="off" minlength="2" 
                    maxlength="30" disabled class="form-control" placeholder="Введите сообщение">

                    <input type="submit" id="sendBtn" value="Отправить" disabled class="input-group-btn btn">

                </form>

            </div>

        </div>

    </div>

</div>