<nav id="header" class="menu">

    <ul>

        <li>
            <a href="/" id="home" class="socials" title="Выход">Выход</a>
        </li>

        <li>
            <a href="https://www.facebook.com/profile.php?id=100012548315024" id="fb" class="socials" title="Facebook">Facebook</a>
        </li>

        <li>
            <a href="https://github.com/AlchyZaljer" id="gh" class="socials" title="Github">Github</a>
        </li>
        
        <li>
            <a href="#popupInfo" id="i" class="socials" title="Об игре">Об игре</a>
        </li>

    </ul>

</nav>