<div class="popup" id="popupInfo">

    <div class="popupBody">

        <div class="popupWrapper">

            <a href="#" id="closer" class="popupClose"></a>

            <div class="description">

                <p class="basic">
                    Играй в режиме реального времени, общайся в чате, зарабатывай очки и выигрывай.
                </p>

                <span class="title">
                    Цель игры
                </span>

                <p class="text">
                    Каждый из игроков во время своего ходя должен стремиться как можно быстрее назвать слово, в котором
                    есть буквосочетание, представленное на экране.
                </p>
                <span class="title">
                    Ход игры
                </span>

                <p class="text">
                    С началом раунда на экране появляется буквосочетание и запускается таймер (он может принимать
                    любое значение в диапозоне от 2 до 5 минут). По мере предоставления хода игроки пишут в чате
                    соответствующие слова. По окончании времени раунд завершается, проигрывает тот игрок, чья очередь
                    отвечать была в момент окончания времени. Игра продолжается до тех пор, пока не останется один
                    победитель.
                </p>

            </div>

            <div class="footer">

                <span id="copyright">2022 г., ALCHY'S CREATION&#169;</span>

            </div>

        </div>

    </div>

</div>