<div class="popup nonClosing" id="popupResult">

    <div class="popupBody">

        <div class="popupWrapper">

            <div class="result mx-auto text-center">

                <div class="round">
                    Раунд <span id="lastRound"></span> из <span id="totalRound"></span>
                </div>

                <div class="lastSyllable">
                    Слог: <span id="lastSyllableText">ба</span>
                </div>

                <div id="gameOver" class="unseen">

                    <div class="gameOverTitle">Победитель:</div>

                    <div id="winner"></div>

                </div>

                <div id="roundOver">

                    <div class="inTitle">Далее в игре:</div>

                    <div id="in"></div>
    
                    <div class="outTitle">Выбывает:</div>
    
                    <div id="out"></div>

                </div>

            </div>

        </div>

    </div>

</div>