<div class="popup nonClosing" id="popupWaiting"> 

    <div class="popupBody">

        <div class="popupWrapper">
            
            <div class="search">
    
                <div class="title">
                    Поиск подходящей игры
                </div>

                <img id="dots" src="/dots.gif" alt="ожидание">
    
                <p class="text">
                    Это может занять некоторое время
                </p>

                <button id="breakWaitingBtn" class="btn-outline mx-auto d-block">Прекратить поиск</button>

            </div>

        </div>

    </div>

</div>